<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Wesura</span>
    <div class="spacer"></div>
  <input type="search">
  <button class="btn_primary"><i class="fas fa-search"></i></button>
</div>

<div class="content" role="main">
  <div>
    <h3>Recomendados o encontrdos</h3>
    <div class="list-content">
      <div class="card">
        <iframe width="195" height="145" src="https://www.youtube.com/embed/ZMmpJHFEPus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="card">
        <iframe width="195" height="145" src="https://www.youtube.com/embed/ZMmpJHFEPus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="card">
        <iframe width="195" height="145" src="https://www.youtube.com/embed/ZMmpJHFEPus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="card">
        <iframe width="195" height="145" src="https://www.youtube.com/embed/ZMmpJHFEPus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="card">
        <iframe width="195" height="145" src="https://www.youtube.com/embed/ZMmpJHFEPus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="card">
        <iframe width="195" height="145" src="https://www.youtube.com/embed/ZMmpJHFEPus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <hr/>
  <div class="list-content min" style="margin: 1rem;">
    <div class="card card-large">
      <iframe width="520" height="300" src="https://www.youtube.com/embed/ZMmpJHFEPus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="card card-large">
      <div class="card-container">
        <h3>Titulo</h3>
        <p>Aqui va todo el textote</p>
      </div>
    </div>
  </div>
</div>

<footer>
  Created by &nbsp;<a href="https://www.linkedin.com/in/diegox-cortex/" target="_blank">dcorquir</a>
</footer>
<!-- Footer -->

<router-outlet></router-outlet>
